.main-button {
    display: block;
    background-color: var(--main-button-color);
    align-items: center;
    border: none;
    margin: 5%;
    width: 80%;
    height: 160px;
    border-radius: 100px;
    box-shadow: 0 0 10px -5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.main-button img{
    filter: invert(8%);
}

.main-button.active img{
    filter: invert(90%);
}

.main-button.active {
    background-color: var(--main-bg-color);
}

.main-button:hover img {
    filter: invert(95%);
}

.main-button img {
    width: 128px;
    height: auto;
}