.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-button-color);
    border: none;
    margin: 5%;
    width: 160px; /* Width and height should be equal for a perfect circle */
    height: 160px; /* Width and height should be equal for a perfect circle */
    border-radius: 50%; /* 50% border-radius makes it a circle */
    box-shadow: 0 0 10px -5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.main-button img {
    width: 128px;
    height: 128px;
    filter: invert(8%);
}

.main-button.active img {
    filter: invert(90%);
}

.main-button.active {
    background-color: var(--main-bg-color);
}

.main-button:hover img {
    filter: invert(95%);
}
