.menu-button {
    display: flex;
    background-color: #333333; /* 기본 사이드바 색상과 같음 */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 24px;
    text-align: left;
    cursor: pointer;
}

.menu-button.active {
    background-color: #555555; /* 선택된 버튼의 색상 */
}
