.menu-button {
    width: 100%;
    background-color: var(--sidebar-color);
    color: var(--main-font-black-color);
    font-weight: bold;
    border: none;
    padding: 14px;
    text-align: left;
    cursor: pointer;
    box-shadow: inset -5px 0px 4px -5px black;
    transition: color 0.3s;
}

.menu-button:hover {
    color : var(--main-font-color);
    box-shadow: inset 5px 0px 5px -5px black;
}

.menu-button.active {
    background-color: var(--main-bg-color);
    color : var(--main-font-color);
    box-shadow: inset 5px 0px 5px -5px black;
}