.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: #333; /* 사이드바 색상 */
    transition: width 0.5s;
}

.sidebar.closed {
    width: 0;
}

.sidebar-content {
    color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.toggle-button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.5s;  /* 위치 변화에 애니메이션 효과를 줍니다 */
    width: 6px;
    height: 30px;
    background-color: #666;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar.closed .toggle-button {
    left: 10px; /* 사이드바가 닫혔을 때 버튼을 오른쪽 끝으로 이동 */
}

.sidebar.open .toggle-button {
    left: 210px; /* 사이드바가 열렸을 때 버튼 위치 조정 (사이드바 너비에 따라 조정 필요) */
}

.recent-text {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}