.riddle-item {
    flex-grow: 1;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px -5px black;
    transition: color 0.3s;
    cursor: pointer;
}

.riddle-item:hover .riddle-text {
    color: var(--main-font-color);
}

.riddle-item:hover {
    background-color: var(--button-hover-point-color);
}
