.chat-window {
    max-height: 100%;
    overflow-y: auto;
    background-color: var(--main-lightgrey-color);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message-group{
    display: flex;
    flex-direction: column;
}

.user-message {
    align-self: flex-end;
    background-color: var(--main-point-base-color);
    margin-left: auto;
}

.gpt-message {
    display: flex;
    align-self: flex-start;
    background-color: var(--main-bg-color);
    margin-right: auto;
    align-items: center;
}
.message {
    padding: 10px;
    border-radius: 10px;
    margin: 5px 10px;
    color : var(--main-font-color);
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 50%;
}

.loading-spinner {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 4px solid var(--main-bg-color);
    border-bottom-color: var(--main-point-base-color);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}